In [1]:
# 파이썬으로 Database 생성
# SQLite3의 경우 connection을 생성할 때, 해당 database 파일이 존재하지 않으면 생성
# 다른 관계형 (Relational) DBMS (Database Management System)의 경우는 사전에 Database가 생성되어 
# 있어야 합니다.

import sqlite3

conn = sqlite3.connect("coffee.db")

print("Database 연결")

Database 연결

In [2]:
# Database라는 곳은 데이터들을 보관하는 곳
# table : 데이터들을 기준에 의해서 논리적으로 묶은 것
#         행 (row, record) 및 열 (column, )로 이루어 짐
# table schema (어떤 데이터로 들러 구성이고, 각 열이 어떤 데이터 형식을 가지는지 정의)
# 테이블 생성하고 데이터를 입력

conn.execute('''
CREATE TABLE users (
    id      INT     PRIMARY KEY NOT NULL,
    name    TEXT    NOT NULL
)
''')

print("테이블이 생성되었습니다.")

테이블이 생성되었습니다.

In [5]:
# Database가 존재하고, Table 생성한 상태이니!
# 이제 이 table에 데이터를 입력

conn.execute('''
INSERT INTO users (id, name)
VALUES (1, "김철수")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (2, "이영희")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (3, "이동국")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (4, "안정환")
''')

conn.commit()

print("데이터 입력완료")

데이터 입력완료

In [ ]:
conn.execute('''
INSERT INTO users (id, name)
VALUES (5, "김철수")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (6, "이영희")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (7, "이동국")
''')
conn.execute('''
INSERT INTO users (id, name)
VALUES (8, "안정환")
''')

conn.commit()

print("데이터 입력완료")

In [12]:
# 데이터를 보여준다!
# 우선 데이터를 조회해서 Result Set를 가져온다

cursor = conn.execute('''
SELECT *  -- 테이블의 모든 열을 보여달라
FROM users
''')

In [7]:
type(cursor)

sqlite3.Cursor

In [13]:
for row in cursor:
    print(row, type(row))

(1, '김철수') <class 'tuple'>
(2, '이영희') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>
(5, '김철수') <class 'tuple'>
(6, '이영희') <class 'tuple'>
(7, '이동국') <class 'tuple'>
(8, '안정환') <class 'tuple'>

In [14]:
cursor = conn.execute('''
SELECT id -- id만 보고 싶다
FROM users
''')

In [15]:
for row in cursor:
    print(row, type(row))

(1,) <class 'tuple'>
(2,) <class 'tuple'>
(3,) <class 'tuple'>
(4,) <class 'tuple'>
(5,) <class 'tuple'>
(6,) <class 'tuple'>
(7,) <class 'tuple'>
(8,) <class 'tuple'>

In [16]:
cursor = conn.execute('''
SELECT name -- name만 보고 싶다
FROM users
''')

In [17]:
for row in cursor:
    print(row, type(row))

('김철수',) <class 'tuple'>
('이영희',) <class 'tuple'>
('이동국',) <class 'tuple'>
('안정환',) <class 'tuple'>
('김철수',) <class 'tuple'>
('이영희',) <class 'tuple'>
('이동국',) <class 'tuple'>
('안정환',) <class 'tuple'>

In [20]:
# 데이터를 삭제하고 싶다.
conn.execute('''
DELETE FROM users
WHERE id = 7
''')

conn.commit()

In [21]:
cursor = conn.execute('''
SELECT *  -- 테이블의 모든 열을 보여달라
FROM users
''')
for row in cursor:
    print(row, type(row))

(1, '김철수') <class 'tuple'>
(2, '이영희') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>
(5, '김철수') <class 'tuple'>
(6, '이영희') <class 'tuple'>
(8, '안정환') <class 'tuple'>

In [22]:
conn.execute('''
DELETE FROM users
WHERE id > 4
''')

conn.commit()

cursor = conn.execute('''
SELECT *  -- 테이블의 모든 열을 보여달라
FROM users
''')
for row in cursor:
    print(row, type(row))

(1, '김철수') <class 'tuple'>
(2, '이영희') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>

In [25]:
# 데이터 입력, 조회, 삭제
# 이제 남은 수정!

conn.execute('''
UPDATE users
SET name = "이강인"
WHERE id = 2
''')

conn.commit()

In [26]:
cursor = conn.execute('''
SELECT *  -- 테이블의 모든 열을 보여달라
FROM users
''')
for row in cursor:
    print(row, type(row))

(1, '김철수') <class 'tuple'>
(2, '이강인') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>

In [27]:
conn.execute('''
UPDATE users
SET name = "기성용"
WHERE id = 1
''')

conn.commit()

cursor = conn.execute('''
SELECT *  -- 테이블의 모든 열을 보여달라
FROM users
''')
for row in cursor:
    print(row, type(row))

(1, '기성용') <class 'tuple'>
(2, '이강인') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>